body {
  /*area de tirar margem*/
  margin: 0;
  padding:0;
  width: 100%;
  height: 100;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.bg-black{
    background-color: rgb(44, 9, 19);
    justify-content: center;
    text-align: center;    
    align-items: center; 
}

    
.bg-black .title3 h1{
    color: rgb(255, 173, 201);
    font-size: 45px;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-black .subtitle h2{
    color: rgb(206, 94, 113);
    margin-top: -40px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    

}

/*!Bagulho novo*/

.bg-white{
    background-color: rgb(255, 173, 201);
    justify-content: center;
    text-align: center;    
    align-items: center; 
}

    
.bg-white .title3 h1{
    color: rgb(206, 94, 113);
    font-size: 45px;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-white .subtitle h2{
    color: rgb(206, 94, 113);
    margin-top: -40px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
}

header {
  background-color: rgb(0,0,0);
  height: 90px;
}
Header ul {

    display: flex;
    margin-left: 300px;
    justify-content: center;
    text-align: center; 
    align-items: center;
    
}
Header ul li{
    margin-left: 45px;
    margin-bottom: 35px;
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: color 0.3s;
    
}
header ul li a:hover{
    color: rgb(248, 52, 111);
    
}
.logo {
    width: 30px;
    height: 30px;
}
.logo img{
    width: 90px;
    height: 90px;
    margin-left: 280px;
}
.bg-inicio{
    width: 100%;
    background-image:url("https://wallpapers.com/images/hd/cute-kirby-face-background-48xiss8tz97iwpr8.jpg") ;
    height: calc(100vh - 91px);
    background-position: center;
    background-size: cover;
}
.filtro{
     background-color:rgba(0, 0, 0, 0.555) ;
     width: 100%;
     height: calc(100vh - 91px);
     padding-top: 1px;
}
.title{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 300px;
}   
.title h1{
    color: rgb(253, 182, 220);
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title h2{
    color: rgb(255, 164, 177);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botao{
  background-color: rgb(255, 164, 177); 
  width: 150px;
  height: 50px; 
  border-radius: 10px;
  border: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 750;
  
}
.botao:hover{
    background-color: rgb(165, 62, 79);
    
}
.button-inicio{
    justify-content: center;
    text-align: center;
    align-items: center;   
}


/*!NOVA SESSÃO*/

.bg-inicio2{
    
    height: calc(70vh - 70px);
    background-position: center;
    background-size: cover;
    background-color: rgb(255, 164, 177);
    padding-top: 1px;
}
.area{
    display: flex;
}
.title2{
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;   
    margin-left: -100px;
}
.title2 h1{
    color: rgb(165, 62, 79);
    font-size: 60px;
    margin-left: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     
    display: flex;  
}

.title2 h2{
    color: rgb(165, 62, 79);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif; 
    margin-top: 40px;
    margin-left: 200px;
    margin-top: 50px;
    display: flex;
    font-weight: 700;
}
.p{
    color: rgb(165, 62, 79);
    font-size: 20px;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    display: flex;
    margin-top: 250px;
    margin-right: 400px;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    align-items: center;  

}

.botao2{
    background-color: rgb(252, 148, 122); 
    width: 150px;
    height: 50px; 
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 750;
  }
  .botao2:hover{
      background-color: rgb(165, 62, 79);
  }
  .button-inicio2{
      justify-content: center;
      text-align: center;
      align-items: center;   
  }
.imagemdokirby{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.imagemdokirby img{
    width: 700px;
    height: 390px;
    margin-bottom: -100px;
    margin-right: 120px ;
    border: 8px solid rgb(255, 255, 255); 
    border-radius: 10px;
}

.services{
    height: 500px;
    padding-top: 1px;
}    
.services .title3{
    justify-content: center; 
    align-items: center; 
    text-align: center;  
}

.topico{
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(255, 173, 201);
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    
    
    
}
.topico img{
    height: 100px;

}
.tudo{
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
    align-items: center;

    
}
.topico p{
  color: rgb(231, 135, 151);
  font-size: 20px;
}

.linha-vertical {
    height: 150px;
    border-left: 3px solid white;
 
}

.outralista{
    background-color: rgba(110, 25, 25, 0.555);
    border-radius: 30px;
    width: 870px;
    height: 55px;
    margin: 0 auto; 
    padding: 10px; 
    text-align: center; 
    margin-top: 50px;
}
.outralista ul {

    display: flex;
    justify-content: center;
    gap: 10px; 
    padding: 0; 
    margin: 0; 
    list-style: none;
    margin-right: 25px; 
    
}
.outralista ul li{
    margin-left: 50px;
    margin-bottom: 25px;
    margin-top: 18px;
    list-style: none;

}
.outralista ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: color 0.3s;
    
}
.outralista ul li a:hover{
    color: rgb(122, 51, 72);
}
   
